# Runoff Event Based Precipitaiton Data#

In [4]:
#Import modules 
import numpy as np
import pandas as pd
import glob as gb

In [7]:
#Raw data file
dataset_dir = '/Users/Elliott/Desktop/Coding/Project/'
filename = 'Agron935-PrecipData.csv'

In [10]:
#Import raw data file
df = pd.read_csv(dataset_dir + filename)

In [14]:
df.isna()
df.fillna(df.Mesonet.mean())

         Date   Mesonet       104       105       303       304  Unnamed: 6
0   3/21/2016  0.350000  0.480000  0.470000  0.490000         .    0.111034
1   3/22/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
2   3/23/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
3   3/24/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
4   3/25/2016  0.390000  0.720000  0.780000  0.780000         .    0.111034
5   3/26/2016  0.160000  0.200000  0.160000  0.180000         .    0.111034
6   3/27/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
7   3/28/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
8   3/29/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
9   3/30/2016  0.130000  0.240000  0.180000  0.130000         .    0.111034
10  3/31/2016  0.000000  0.000000  0.000000  0.000000         .    0.111034
11   4/1/2016  0.140000  0.170000  0.190000  0.230000         .    0.111034
12   4/2/2016  0.070000  0.000000  0.000000  0.010000         .    0.111034
13   4/3/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
14   4/4/2016  0.430000  0.450000  0.480000  0.520000      0.47    0.111034
15   4/5/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
16   4/6/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
17   4/7/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
18   4/8/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
19   4/9/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
20  4/10/2016  0.330000  0.590000  0.610000  0.630000      0.62    0.111034
21  4/11/2016  0.230000  0.210000  0.200000  0.210000      0.21    0.111034
22  4/12/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
23  4/13/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
24  4/14/2016  0.960000  1.290000  1.180000  1.180000      1.20    0.111034
25  4/15/2016  0.030000  0.020000  0.020000  0.030000      0.02    0.111034
26  4/16/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
27  4/17/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
28  4/18/2016  0.000000  0.000000  0.000000  0.000000      0.00    0.111034
29   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
30   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
31   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
32   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
33   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
34   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
35   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034
36   0.111034  0.111034  0.111034  0.111034  0.111034  0.111034    0.111034